@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");


* {
    font-family: "Source Sans Pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.notif {
    margin-left: 100px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: white;
}



.forgot h2 {
    color: white;
margin-bottom: 20px;

}

.forgot label {
    color: white;
}

.forgot input {
    color: white;
    margin-bottom: 20px ;
    background: transparent;
    border: none;
    border-bottom: white 1px solid ;
    outline: none;

}

.forgot input:focus {
    background: transparent;
}

.forgot button {
    cursor: pointer;
    font-weight: bolder;
    padding: 10px 20px;
    color: white !important;
    border: 1px solid white !important;
    transition: .3s ease-in-out !important;
    background: transparent;
}

.forgot button:hover {
    background: white !important;
    color: black !important;
    transform: translateX(10px) !important;
    border: 1px black solid !important;
}

.forgot form {
    margin-left: 100px;
    border: white 3px solid;
    padding: 20px;
    box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}

.forgot::after {
    z-index: -1;
    top: 0;
    right: 0;
    position: absolute;
    content:"";
    height: 100vh;
    width: 800px;
    background: url(/photo-forgot/forgot.jpg)center/cover;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}