@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");


* {
    font-family: "Source Sans Pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #333;
}

.registre {
    
    width: 50%;
    height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 -webkit-animation:tilt-in-fwd-tl .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tl .6s cubic-bezier(.25,.46,.45,.94) both
}

.registre h2 {
  
color: white;
    
}

form {
    /* border: 1px solid red; */
    margin-top: 20px;
  
}
form label {
    color: white;
}

form input {
    background-color: transparent;
    outline: none;
    color: #333;
    border: none;
    /* border-radius: 50px; */
    border-bottom:1px solid  white;
}

form input:focus {
    background: transparent;
}

form button {
    color: white !important;
    border: 1px solid white !important;
    transition: .3s ease-in-out !important;
}

form button:hover {
    background: white !important;
    color: black !important;
    transform: translateX(10px) !important;
    border: 1px black solid !important;
}

.photo-reg {
    width: 50%;
    background: url(/photo-register/register.jpg) center/cover;
}



.accueil {
    color: white !important;
    height: 30px;
    padding: 0 5px ;
    border: 1px solid white;
    border-radius: 50px;
    /* float: left; */
    text-decoration: none !important;
    transition: .3s ease-in-out;
    margin-left: 20px;
    margin-top: 20px;
}
.accueil:hover {
    color: #333 !important;
    background: white;
    transform: scale(1.2);
}

@-webkit-keyframes tilt-in-fwd-tl{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tl{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}