@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");


* {
    font-family: "Source Sans Pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background: #333;

}

h2 {
    margin-bottom: 50px;
    color: white;
    border: none;
    padding: 0 20px;
}

.reset {

background: #333;
padding: 30px;
border: 2px white solid;
float: left;
margin-left: 50px;
}

.reset::after {
    z-index: -1;
    top: 0;
    right: 0;
    position: absolute;
    content:"";
    height: 100vh;
    width: 800px;
    background: url(/photo-reset/basketball-g10467f66b_1920.jpg)center/cover;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.reset label {
    font-weight: bolder;
    color: white;
}

.reset input {
    outline: none;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.reset input:focus {
    background: transparent;
}

.reset button {
    color: white;
    cursor: pointer;
    padding: 5px;
    background: transparent;
    border: white 2px solid ;
    border-radius: 50px;
    font-weight: bolder;
    transition: .3s ease-in-out;
}
.reset button:hover {
    color: white;
    background-color: #333;
    border: white 2px solid ;
    transform: translateX(10px);
}