@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");


* {
    font-family: "Source Sans Pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 50px;
    color: white;
    border: none;
    padding: 0 20px;
}

.reset {

background: transparent;
padding: 30px;
border: 2px white solid;

}

.reset label {
    font-weight: bolder;
    color: white;
}

.reset input {
    outline: none;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.reset input:focus {
    background: transparent;
}

.reset button {
    color: white;
    cursor: pointer;
    padding: 5px;
    background: transparent;
    border: white 2px solid ;
    border-radius: 50px;
    font-weight: bolder;
    transition: .3s ease-in-out;
}
.reset button:hover {
    color: white;
    background-color: #333;
    border: white 2px solid ;
    transform: translateX(10px);
}