@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");


* {
    font-family: "Source Sans Pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 50px;
    color: #fe8c00;
    border: none;
    border-left: 3px solid #fe8c00;
    border-right: 3px solid #fe8c00;
    padding: 0 20px;
    border-radius: 50px;
}

.reset {

    background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 30px;
border: none;
-webkit-box-shadow: 0px 10px 13px -7px #f83600, 0px 0px 36px 16px #f83600; 
box-shadow: 0px 10px 13px -7px #fe8c00, 0px 0px 36px 16px #fe8c00;
}

.reset label {
    font-weight: bolder;
    color: #333;
}

.reset input {
    outline: none;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
}

.reset input:focus {
    background: transparent;
}

.reset button {
    cursor: pointer;
    padding: 5px;
    background: transparent;
    border: #333 2px solid ;
    border-radius: 50px;
    font-weight: bolder;
    transition: .3s ease-in-out;
}
.reset button:hover {
    color: #f83600;
    background-color: #333;
    border: #f83600 2px solid ;
    transform: translateX(10px);
}