@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont {
    display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 100vh;
width: 100%;
background-color: #fe8c00;
}

.titre {
     grid-area: 1 / 1 / 7 / 3; 
     font: 700 0.75rem "Source Sans Pro";
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.titre h1 {
    font-size: 50px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    -webkit-animation:tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) both
}

.titre p {

    font-size: 20px;
    padding: 20px;
    -webkit-animation:tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand 3s cubic-bezier(.215,.61,.355,1.000) both


}
.register {
    grid-area: 1 / 3 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: -20px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -20px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -20px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-animation:slide-in-top 1.8s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top 1.8s cubic-bezier(.25,.46,.45,.94) both;
}

.register h2 {
    font-weight: 800;
    font-size: 30px;
}

.register i {
    font-size: 80px;
}

.photo {
    width: 100%;
    height: 100vh;
    grid-area: 1 / 5 / 7 / 7;
}

.photo img {
    width: 100%;
    height: 100vh;
    
}

footer {
    -webkit-animation:slide-in-bottom 1.8s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1.8s cubic-bezier(.25,.46,.45,.94) both;
    margin-top: 5px;
    background-color: #333;
    grid-area: 4 / 3 / 7 / 5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: -20px 2px 5px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -20px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -20px 2px 5px -2px rgba(0,0,0,0.75);
}

footer p {
    width: 200px;
    text-align: left;
}

.logo ul{
    display: flex;
    flex-direction: row;
}

.logo li{
    text-decoration: none;
    list-style-type: none;
    transition: .3s ease-in-out;
}

.logo a {
    color: white;
    padding: 20px;
}

.logo li:hover {
    transform: scale(1.5);
}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}