* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-layouts {
    background: #333;
    color: white;
    height: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.nav-nav {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.nav-nav p {
    margin-top: 8px;
}

.nav-1 {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.nav-1 p {
    margin-right: 20px;
    margin-top: 10px;
}

.nav-1 a {
    margin-top: 5px;
    margin-right: 20px;
    color: white;
    padding: 5px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.nav-1 a:hover {
transform: translateX(10px);
}