.header {
    background: #000000b4;
    height: 200px;
}

.header::before {
    clip-path: polygon(70% 0, 100% 0%, 100% 100%, 30% 99%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: " ";
    height: 100%;
    width: 100%;
    background: url(/photo-list/tennis-court-ge26f16812_1920.jpg)center/cover;
}




#date {
    padding: 5px;
    border-radius: 5px;
    background: #434343;
    color: white;
    outline: none;
    border: none;
}

#btn-filtre {
    padding: 5px 10px;
    border-radius: 5px;
    background: #434343;
    color: white;
    outline: none;
    border: none;
}

#btn-filtre:hover {
    color: #434343;
    background: white;   
}

.list {
    margin: 10px;
    padding: 20px;
}


.evenement {
    background: rgba(51, 51, 51, 0.447);
    margin-left: 20px;
    margin-bottom: 20px;
    height: 120px;
    display: flex;
    flex-direction: row;
    border: 1px solid #333;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.heure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: white;
    /* background: green; */
}

.info {
    /* background: whitesmoke; */
    color: white;
    background: transparent;

    padding: 10px;
    width: 75%;
}

.nbr {
    float: right;
}

.fav {
    max-height: 20px !important;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background: transparent;
}

.show a {
    color: white;
    padding: 5px;
    text-decoration: none;
    /* border: 1px solid #333; */
    /* border-radius: 50px; */
    transition: .3s ease-in-out
}

.show a:hover {
    color: white;
    /* background-color: #333; */
    transform: translateY(-5px);
}