@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.header {
    display: flex;
    justify-content: space-around;
}




.header .left {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    flex-direction: column;
    background: #000000b4;
    height: 30%;
    width: 40% !important;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.header .right {
    /* float: right; */
    display: flex;

    flex-direction: column;
    background: #000000b4;
    height: 30%;
    width: 40% !important;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}

.right h3 {
    font-style: italic;
    font-style:  "Roboto";
    color: yellow;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.right .logo ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style-type: none;

}

.logo ul li a {
    color: white;
}
.logo ul li {
    transition: .3s ease-in-out;
}

.logo ul li:hover {
    transform: translateY(-5px);
} 






#date {
    padding: 5px;
    border-radius: 5px;
    background: #434343;
    color: white;
    outline: none;
    border: none;
}

#btn-filtre {
    padding: 5px 10px;
    border-radius: 5px;
    background: #434343;
    color: white;
    outline: none;
    border: none;
}

#btn-filtre:hover {
    color: #434343;
    background: white;   
}

.list {
    margin: 10px;
    padding: 20px;
}


.evenement {
    background: rgba(0, 0, 0, 0.492);
    margin-left: 20px;
    margin-bottom: 20px;
    height: 120px;
    display: flex;
    flex-direction: row;
    border: 1px solid #333;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

.heure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    color: white;
    /* background: green; */
}

.info {
    /* background: whitesmoke; */
    color: white;
    background: transparent;

    padding: 10px;
    width: 75%;
}

.nbr {
    float: right;
}

.fav {
    max-height: 20px !important;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    background: transparent;
}

.show a {
    color: white;
    padding: 5px;
    text-decoration: none;
    /* border: 1px solid #333; */
    /* border-radius: 50px; */
    transition: .3s ease-in-out
}

.show a:hover {
    color: white;
    /* background-color: #333; */
    transform: translateY(-5px);
}