.profil-cont {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-info {
    
    position: absolute;
    top: 50px;
    left: 100px;
    padding: 50px 0;
    height: 400px;
    width: 400px;
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    color: white;
    border: 10px white double;
}