

.profil-info {
    /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    color: white;
    background: url(/photo-user_page/pexels-ivan-samkov-4162550.jpg)center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-p {
    border: 10px white double;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.489);
}


