* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url(/photo-admin/office-g104398603_1280.jpg)center/cover;
    /* height: 100vh; */

/* overflow: hidden; */
}



.addEvents {
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 60px;
    background: white;
    border-radius: 20px;
    color: #434343;
    text-decoration: none;
    transform: translate(-50%);
}

.addEvents:hover {
    color: white;
    background: #434343;
}

.admin-cont {
    display: flex;
}

.side {
    width: 300px;
    position: fixed;
}

.content {
    margin-top: 60px;
    width: 100%;
    margin-left: 300px;
}