* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
height: 100%;
width: 100%;
/* overflow: hidden; */
}

.addEvents {
    margin-top: 20px;
    background: white;
    border-radius: 20px;
    color: #434343;
    text-decoration: none;
    padding: 10px;
    /* position: fixed; */
    /* margin-top: 80px; */
    margin-left: 50%;
    transform: translate(-50%);
}

.addEvents:hover {
    color: white;
    background: #434343;
}
